<!--- Hereda la navbar y el footer de base.html -->
{% extends 'web/base.html' %}
{% load static %}
{% block css %}
    <!--- css -->
{% endblock %}
{% block js %}
    <!--- js -->
    <!--<script src="{% static 'web/js/platostimer.js' %}"></script>-->
{% endblock %}

<!--- Desde acá comienza el contenido de la pagina -->
{% block contenido %}
{% load humanize %}

<br><br>

<div class="row">
    <div class="">
        <div class="">
            {% include 'web/productos.html' %}
        </div>
    </div>
</div>
{% endblock %}