{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'web/css/footer.css' %}">
{% endblock %}
{% load humanize %}
<footer>
    <div class="container-fluid row">
        <div class="col">
            <h5>INFO ADICIONAL</h5>
            <p>ExpreSantiago</p>
        </div>
        <div class="col">
            <h5>CONTACTO</h5>
            <p>Autor: Grupo 4</p>
        </div>
        <div class="col">
            <h5>CONTÁCTANOS</h5>
            <h6><i class="bi bi-geo-alt-fill"></i> Visítanos en Alonso de Ovalle 1586, Santiago</h6>
            <h6><i class="bi bi-shop"></i> Abierto de 07:00 a 19:00 hrs</h6>
            <h6><i class="bi bi-telephone-fill"></i> +56212345678</h6>
            <h6><i class="bi bi-envelope-fill"></i> contacto@alimentossantiago.cl</h6>
        </div>
        <div class="row ">
            <h5>AlimentosSantiago.cl @2022</h5>
        </div>
    </div>
</footer>