{% load static %}
{% load humanize %}
<footer>
    <div class="container-fluid row">
        <div class="col">
            <h3>INFO ADICIONAL</h3>
        </div>
        <div class="col">
            <h3>CONTACTO</h3>
            <p>Autor: José Barboza<br>
            <a href="mailto:jbarboza245@gmail.com">jbarboza245@gmail.com</a></p>
        </div>
        <div class="col">
            <h3>CONTÁCTANOS</h3>
            <h5><i class="bi bi-geo-alt-fill"></i> Visítanos en Alonso de Ovalle 1586, Santiago</h5>
            <h5><i class="bi bi-shop"></i> Abierto de 07:00 a 19:00 hrs</h5>
            <h5><i class="bi bi-telephone-fill"></i> +56212345678</h5>
            <h5><i class="bi bi-envelope-fill"></i> contacto@alimentossantiago.cl</h5>
        </div>
        <div class="row ">
            <h3>AlimentosSantiago.cl @2022</h3>
        </div>
    </div>
</footer>