<!--- Hereda la navbar y el footer de base.html -->
{% extends 'web/base.html' %}
{% load static %}
{% block css %}
    <!--- css -->
{% endblock %}
{% block js %}
    <!--- js -->
    <!--<script src="{% static 'web/js/platostimer.js' %}"></script>-->
{% endblock %}

<!--- Desde acá comienza el contenido de la pagina -->
{% block contenido %}
{% load humanize %}

<!-- CONTENIDO CENTRAL -->
<br>
<div class="col-sm-10 col-lg-8 offset-sm-1 offset-lg-2">
    <div class="container" id="contenido">

        <!--- Busqueda -->
        <div>
            <form method="GET" action="{% url 'home' %}" >
                <div class="input-group mb-3 w-auto">
                    <span class="input-group-text rounded-pill" id="basic-addon1">
                        <i class="bi bi-search"></i></span>
                    <input type="text" class="form-control form-control rounded-pill" 
                        placeholder="Busqueda..." aria-label="Search" 
                        aria-describedby="basic-addon1" name="q">
                </div>
            </form>
        </div>

        <!--- Categorias -->
        <div class="categorias" id="categoriascontainer">
            <a href="{% url 'home' %}" id="submit btncat" onclick="myFunction()" 
            class="btn btn-outline-danger btn-lg target" name="btn-categoria" >
            <i class="bi bi-house-fill"></i></a>

            {% for cat in categorias %}
            <a href="{% url 'home' %}?qc={{cat}}" id="submit btncat" onclick="myFunction()" 
            class="btn btn-outline-danger target" 
            name="btn-categoria">{{ cat | capfirst }}</a>
            {% endfor %}
        </div>
        <br>

        <!--- NOMBRE FILTRO -->
        {% if categoria %}
        <div>
            <h2 class="animate__animated animate__lightSpeedInLeft">{{ categoria | capfirst }}</h2>
        </div>
        {% else %}
        <div>
            {% if se_busca %}
                {% if num_prods == 1 %}
                <h5>Se encontró {{ num_prods }} producto para "{{ filtro }}"</h5>
                {% else %}
                <h5>Se encontraron {{ num_prods }} productos para "{{ filtro }}"</h5>
                {% endif %}
            <br>
            {% else %}
            <h2 class="animate__animated animate__lightSpeedInLeft">El Chef Recomienda</h2>
            {% endif %}
        </div>
        {% endif %}
        
        <!--- PRODUCTOS -->
        <div class="row justify-content-center row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 menu text-center">
            {% for p in entity %}
            <!--- MÓDULO PRODUCTO -->
            <div class="platos pb-4 animate__animated animate__zoomIn" id="plato">
                <div class="col plato card">
                    <!---agregar el icono de favoritos, con su funcionalidad-->
                    <div class="plato_imagen">
                        {% if p.imagen %}
                        <img class="card-img-top img-fluid" src="{{ p.imagen.url }}" alt="">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{% static 'web/img/placeholder.jpg' %}" alt="">
                        {% endif %}
                    </div>

                    <div class=" card-body detalle"> 
                        <h6>{{ p.restaurant | capfirst }}</h6>
                        <h5>{{ p.nombre | title }}</h5>
                        <h6>${{ p.precio | intcomma }}</h6>
                    </div>
                    {% if user.is_authenticated %}
                    <a href="{% url 'agregar_a_carrito' p.id %}" id="submit" 
                    class="btn btn-outline-danger w-100 p-2 btn-carrito" 
                    name="btn-carrito">Agregar al carrito</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            
        </div>
        <hr>
        <div class="paginator">
            {% include 'web/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}