{% load static %}
{% load humanize %}
<!-- NAVBAR -->
<!--- Para navegar entre diferentes enlaces se usa href ="{#% url 'nombreEnlace' %}" sin el # -->
<!-- si se quiere usar MODAL en la barra, quitar el  sticky-top -->
<div class="d-flex navbar sticky-top shadow bg-light col-12 " >  <!---id="navbar"--->

    <!-- LOGO -->
    <div class="col-md-8 d-flex">
        <a href="{% url 'home' %}"><img src="{% static 'web/img/pedidocomida_logoRe_2.png' %}" class="logo"/></a>
    </div>

    <!-- PERFIL -->
    <div class="col-md-4 d-flex justify-content-end">

        <!-- si está registrado que salga el menu y la sidebar -->
        {% if user.is_authenticated %}
        <!---SIDEBAR-->
        <!-- The overlay -->
        <div id="myNav" class="overlay">
        
            <!-- Overlay content -->
            <div class="overlay-content ">
                <div id="mySidepanel" class="sidebar-content" data-sidebar>
                    <!-- Button to close the overlay navigation -->
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                    <!--- contenido del sidebar and not perms.web.add_tipo_pago-->
                    <div class="d-inline ">
                        <h5 class="profile-name d-inline "><i class="bi bi-at"></i>{{ user.username | capfirst }}</h5>
                    </div> 
                    <hr>
                    <a href="{% url 'home' %}"><i class="bi bi-house"></i> Inicio</a>
                    <hr>
                    {% if perms.web.view_proveedor and not perms.web.add_tipo_pago %}
                    <a href="{% url 'proveedor' %}"><i class="bi bi-stack"></i> Proveedor</a>
                    <hr>
                    {% endif %}
                    {% if perms.web.view_repartidor and not perms.web.add_tipo_pago %}
                    <a href="{% url 'repartidor' %}"><i class="bi bi-truck"></i> Repartidor</a>
                    <hr>
                    {% endif %}
                    <a href="{% url 'perfil_usuario' %}"><i class="bi bi-person-circle"></i> Opciones Perfil</a>
                    <a href="{% url 'carrito_compras' %}"><i class="bi bi-cart3"></i> Carrito Compras</a>
                    {% if perms.web.add_tipo_pago %}
                    <hr>
                    <a href="{% url 'estadisticas' %}"><i class="bi bi-bar-chart-line"></i> Estadísticas</a>
                    
                    <hr>
                    <a href="{% url 'permisos' %}"><i class="bi bi-star"></i> Privilegios</a>
                    
                    {% endif %}
                    {% if perms.web.view_producto %}
                    <hr>
                    <a href="{% url 'listar_productos' %}"><i class="bi bi-card-list"></i> Lista de Platos</a>
                    {% endif %}
                    {% if perms.web.add_producto %}
                    <a href="{% url 'agregar_producto' %}"><i class="bi bi-plus-circle"></i> Agregar Platos</a>
                    {% endif %}
                    <hr>
                    <a href="{% url 'contacto' %}"><i class="bi bi-envelope"></i> Contacto</a>
                    <hr>
                    <a href="{% url 'logout' %}"><i class="bi bi-power"></i> Cerrar Sesión</a>
                    <hr>
                </div>
            </div>
        </div>

        <div>
            
            <!---dejar esto porque funciona el overlay-->
            <!---<div id="mySidepanel" class="sidepanel">-->
                <!--- aqui iba el boton pa cerrrar-->
            <!---</div>-->
            
            <!---tiene un bug al entrar en pantalla completa f11, solo una parte se puede clickear-->
            <button class="btn btn-sidebar btn-sm" data-sidebar-button id="btn-sidebar" onclick="openNav()" >&#9776; Cuenta Usuario</button>
        </div>
    
        {% else %}
        <!-- si no está registrado que salgan los botones | los botones no tienen problema, solo es sintaxis de django en html -->
        <div>
            <button onclick="location.href='{% url 'login' %}'" type="button" class="btn btn-success btn-sm">
                Iniciar Sesión</button>
            <button onclick="location.href='{% url 'registro' %}'" type="button" class="btn btn-primary btn-sm">
                Registrarse</button>
        </div>
        {% endif %}

        &nbsp; &nbsp; &nbsp;
    </div>
</div>