.carrito-vacio{
    color:rgb(74, 74, 74);
}
.checkName{
    font-size: small;
}
.boletaNombre{
    font-size: medium;
}
.boleta{
    width: 18rem;
    min-width: 15rem;
    max-width: 18rem;
}
.carrito-img{
    width: 20rem;
    height: 20rem;
}