/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0; /*si es right, sale desde derecha, si es left se invierte*/
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.3); /* Black w/opacity */
    overflow-x:hidden; /* Disable horizontal scroll */
    transition: 0s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    /*transition: transform 0s ease-in-out;*/
    overscroll-behavior-y: none;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    transform-origin: right;
    right: 0;
    left: 100%;
    text-align: center; /* Centered text/links */
}

/*sidebar sobre el overlay*/
.sidebar-content{
    position: relative;
    transform-origin: right;
    right: 0;
    min-height: 14rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #dfbbbb; /*fondo del sidebar*/
    width:14em; /* el ancho de la sidebar*/
    border-top-left-radius: 1%;
    border-bottom-left-radius: 1%;
    z-index: 2;
    transform: translateY(0px);
    transform: translateX(0px);
    transition: transform 200ms ease-in;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.1s ease-in-out; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    font-size: 34px;
    /*position: absolute;
    top: 20px;
    right: 45px;
    */
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 34px;
        /*top: 15px;
        right: 35px;*/
    }
}