/* Style the tab */
.tab {
    overflow: hidden;
    height: 5rem;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color:gainsboro;
    float:left;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    cursor: pointer;
    /*padding: 0rem 3rem;*/
    font-size:x-large;
    height: 3rem;
    transition: 0.3s;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(234, 87, 87);
    color: white;
    border: 1px solid #ccc;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-bottom: none;
    height: 5rem;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
  }