{% extends 'web/base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
{% block contenido %}
{% load humanize %}
{% load crispy_forms_tags %}
<!---contenido-->
<div class="container-lg">
    <br><br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <div class="w-100 justify-content-center text-center">
                    <h3>Registro Empresa</h3>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}